@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

$green: #1db954;
$accent: #1db954;
$secondaryText: #b2b9ac;
$bg: #212121;
$bg2: #333432;

button {
	color: white;
	background-color: transparent;
	outline: none;
	border: none;
}

.container {
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: $bg;
	color: white;
}

.player-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75vw;
	height: 70vh;

	.room {
		font-size: 28px;
		text-shadow: 1px 1px 7px #fff, 1px 1px 7px #ccc;
		margin-bottom: 5px;
	}

	.album-art {
		width: 300px;
		height: 300px;
		border-radius: 15px;
		padding: 12px;
	}

	.title {
		font-size: 24px;
		padding: 12px;
		// width: 40%;
		// white-space: nowrap;
		overflow-x: hidden;
		scrollbar-width: none;
	}

	.artist {
		font-size: 18px;
		margin-top: -15px;
		color: $secondaryText;
		padding: 12px;
		// overflow: hidden;
	}

	.controls {
		padding: 12px;
		display: flex;
		flex-direction: row;
		.fa {
			color: white;
			padding: 5px;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.queue-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 25%;
	width: 75vw;
	height: 70vh;

	.up-next {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		.title {
			font-size: 18px;
		}

		.add {
			font-size: 18px;
		}
	}

	.queue-list {
		border-radius: 5px;
		width: 100%;
		max-height: 25vh;
		overflow-y: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none;
		list-style: none;
		background: $bg2;

		.track-title {
			font-size: 18px;
			// white-space: nowrap;
			overflow-x: hidden;
			margin-left: -1em;
		}

		.track-artist {
			color: $secondaryText;
			margin-top: -1em;
			margin-left: -1.05em;
		}
	}
}

.popup-content {
	padding: 0 !important;
	background: transparent !important;
	border: none !important;
}

.search-form {
	background: transparent;

	input {
		width: 100%;
		color: white;
		height: 3vh;
		background-color: $bg2;
		border: none;
		border-radius: 2px;
		padding: 5px 5px;
		opacity: 0.9;
	}
}

.search-res {
	list-style: none;
	background: $bg2;
	width: 100%;
	max-height: 50vh;
	overflow: scroll;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	padding: 0 5px;
	border-radius: 5px;
	opacity: 0.95;

	li {
		padding: 5px;
	}

	&:hover {
		cursor: pointer;
	}

	.title {
		font-size: 18px;
		color: white;
	}

	.artist {
		font-size: 12px;
		color: $secondaryText;
	}
}

@media screen and (min-width: 768px) {
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background: $bg;
		color: white;
	}

	.queue-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 25%;
		width: auto;
		height: 70vh;

		.queue-list {
			max-height: 70vh;
		}
	}

	.player-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
		height: 70vh;

		.album-art {
			width: 340px;
			height: 340px;
			border-radius: 15px;
			padding: 12px;
		}
	}
}
